.container {
  z-index: 1000;
  width: 100%;
}

.linkContainer {
  color: $light;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 20px 0px;
}

.itemLink {
  font-weight: 700;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 900;
}
