.searchBox {
  z-index: 1100;
}

input[type="text"].searchBox {
  font-size: 1em;
  width: $sideNavWidth;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  background-color: rgba($color: $white, $alpha: 0.8);
}

input[type="text"]:focus.searchBox {
  width: 100%;
}
