.container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.information {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  padding: 0;
  margin-top: 15px 0;
  font-size: 2em;
}

.price {
  margin: 40px 0;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: $warning;
}

.status {
  background-color: $light;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px 0;
}

.iframe {
  width: 100%;
  height: 500px;
}

.time {
}

.address {
}

.item {
}
