.table {
  width: 100%;
  border-collapse: collapse;
}

.tableBody {
  border-radius: 20px;
}

.tableHead {
  position: fixed;
  top: 0;
  width: calc(100% - $sideNavWidth);
}

.headerGroup {
  display: flex;
}

.header {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  text-align: left;
  background-color: $dark;
  color: $light;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row {
  display: flex;
  cursor: pointer;
  padding: 20px 10px;
  justify-content: space-around;
  transition: 0.3s;
  height: 80px;
  // &:nth-child(even) {
  //   background-color: rgba($color: #cbcbcb, $alpha: 0.2);
  // }
  &:hover {
    background-color: rgba($color: $dark, $alpha: 0.2);
  }
}

.cell {
  flex: 1;
  // width: 200px;
}

.status {
  background-color: $light;
}
