.container {
  display: flex;
  align-items: stretch;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: $sideNavWidth;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.drawer {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  width: 700px;
  background-color: $white;
  position: fixed;
  right: 0;
  height: 100%;
  overflow: auto;
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.content {
  width: 100%;
  margin-left: $sideNavWidth;
  background-color: $light;
}
