.container {
  display: flex;
  align-items: stretch;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 0;
  background-color: $warning;
  height: 100%;
  position: fixed;
  overflow: auto;
  @media (min-width: $desktop) {
    width: $sideNavWidth;
  }
}

.drawer {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  width: 700px;
  background-color: $white;
  position: fixed;
  right: 0;
  height: 100%;
  overflow: auto;
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.content {
  width: 100%;
  margin-left: 0;
  background-color: $light;
  @media (min-width: $desktop) {
    margin-left: $sideNavWidth;
  }
}
